@import url('https://fonts.googleapis.com/css2?family=Sigmar&display=swap');


body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    width: 100%;
    height: 4em;
    background-color: rgb(40, 167, 133);
    justify-content: space-between;
    position: fixed;
}

header .logo {
    display: flex;
    height: 100%;
    margin-left: 2em;
}

header nav {
    display: flex;
    gap: 1em;
    height: 100%;
    align-items: center;
    justify-content: space-around;
    margin-right: 2.5em;
}

header nav a {
    text-decoration: none;
    color: white;
    height: 60%;
    padding: 0 1em;
    text-align: center;
    align-content: center;
    transition: 0.3s;
    border-radius: 10px;
    font-family: "Sigmar", serif;
}

header nav a:hover {
    color: rgb(40, 167, 133);
    background-color: white;
    border-radius: 10px;
}

.rev {
    padding: 0 1.5em;
    color: rgb(40, 167, 133);
    background-color: white;
    transition: 0.3s;
}

.rev:hover {
    scale: 1.1;
}



.main1 {
    display: flex;
    width: 100%;
    height: 120vh;
    background-image: url(/Static/Img/fondo\ hotel_Mesa\ de\ trabajo\ 1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    gap: 20px;
    font-size: 150%;
    color: rgb(39, 75, 38);
}

h1{
    margin-left: 75px;
}

.main2 {
    margin-top: 50px;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
}

.main2 label{
    width: 100%;
    height: 50px;
    align-content: center;
    text-align: center;
    font-family: "Sigmar", serif;
    font-size: 25px;
    font-style: normal;
    color: rgb(40, 167, 133);
}

.main2 section{
    display: flex;
    width: auto;
    height: 300px;
    align-items: center;
    justify-items: center;
    padding: 25px;
    overflow: auto;
    margin-bottom: 50px;
}

.main2 section::-webkit-scrollbar{
    display: none;
}

.content{
    display: flex;
    width: auto;
    height: 100%;
    gap: 30px;
}

.contenido{
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 95%;
    border-radius: 10px;
    background-color: rgba(196, 196, 196, 0.488);
    box-shadow: 2px 6px 10px rgba(0, 0, 0, 0.2);

}