@import url('https://fonts.googleapis.com/css2?family=Sigmar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Sigmar&display=swap');

*{
    box-sizing: border-box;
}

body {
    font-family: "Rubik", serif;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    width: 100%;
    height: 4em;
    background-color: #00a2ff;
    justify-content: space-between;
    position: fixed;
}

header .logo {
    display: flex;
    height: 100%;
    margin-left: 2em;
}

header nav {
    display: flex;
    gap: 1em;
    height: 100%;
    align-items: center;
    justify-content: space-around;
    margin-right: 2.5em;
}

header nav a {
    text-decoration: none;
    color: white;
    height: 60%;
    padding: 0 1em;
    text-align: center;
    align-content: center;
    transition: 0.3s;
    border-radius: 10px;
    font-family: "Rubik", serif;
}

header nav a:hover {
    color: #00a2ff;
    background-color: white;
    border-radius: 10px;
}


.main1 {
    display: flex;
    width: 100%;
    height: 120vh;
    background-image: url(/Static/Img/fondo-2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 150%;
    align-items: center;
    gap: 10px;
}

.tex-main {
    background-color: rgba(0, 0, 0, 0.436);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    color: white;
    font-size: 125%;
}

h1{
    margin-left: 50px;
}

/* Secciones comunes */
section {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    align-items: center;
}

h2 {
    font-size: 36px;
    margin-bottom: 40px;
    text-align: center;
}

.content{
    display: flex;
    width: 97.5%;
    height: fit-content;
    overflow: scroll;
    justify-content: space-around;
}

.content::-webkit-scrollbar{
    display: none;
}

.scroll{
    display: flex;
    width: auto;
    height: 300px;
    justify-content: space-evenly;
    gap: 20px;
}

.card{
    display: flex;
    flex-direction: column;
    width: 450px;
    height: 90%;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    margin: 5px;
    border-radius: 10px;
    transition: 0.5s;
    text-align: center;
}

.card:hover{
    scale: 1.05;
}

.contacto{
    height: 50vh;
    padding: 0 50px;
    flex-direction: row;
    justify-content: space-around;
}

.contactenos, .mapa{
    display: flex;
    width: 50%;
    margin-bottom: 20px;
    justify-content: space-evenly;
}

.contactenos form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 75%;
}

.servicios .card{
    width: 100%;
    height: 80%;
    display: block;

}

.card img {
    max-width: 100%;
    height: 80%;
    display: block;
    border-radius: 10px 10px 0 0;
}

/* Footer */
.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}

.footer .redes a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}


/* modal.css */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    text-align: center;
    border-radius: 10px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    cursor: pointer;
}
