<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../Static/Css/habitaciones.css" />
  </head>

  <body>
    <header>
      <div class="logo">
        <img src="../Static/Img/logo.png" alt="" />
      </div>
      <nav>
        <a href="../index.html">Inicio</a>
        <a href="habitaciones-reservas.html">Habitaciones</a>
        <a href="../index.html#servicios">Servicios</a>
        <a href="../index.html#galeria">Galería</a>
        <a href="../index.html#testimonios">Testimonios</a>
        <a href="../index.html#contacto">Contacto</a>
      </nav>
    </header>
    <main>
      <div class="Habitaciones_Filtro">
        <!-- Filtro -->   
        <div class="Filtro">
          <h3 clasS="F_Texto">Filtrar por:</h3>
          <a href="#" class="itemFilto" category="all">Todos</a>
          <a href="#" class="itemFilto" category="sencilla">sencilla</a>
          <a href="#" class="itemFilto" category="doble">doble</a>
          <a href="#" class="itemFilto" category="king">king</a>
          <a href="#" class="itemFilto" category="Capacidad">Capacidad</a>
          <a href="#" class="itemFilto" category="#">Precio</a>
        </div>
      </div>
  
        <!-- Lista de habitaciones -->
  
    <div class="Lista_habitaciones">
  
    <article class="Tarjeta_habitaciones" category="sencilla">
      <div class="Img_Habitaciones">
        <img src="../Static/Img/images.jpg" alt="Habitacion" />
      </div> 
  
      <div class="descripcion">
        <h3>Habitación Estándar</h3>
          <p><strong>Descripcion:</strong> Comodidad y elegancia a un precio accesible.</p>
          <p><strong>Capacidad:</strong> 2 personas 🧑‍🤝‍🧑</p>
          <p><strong>Comodidades:</strong> 📶 | ❄️ | 🔄 | 📺 | 🚿 | 🧼 | 🔐 </p>
      </div>     
          <button class="Btn_Reserva">🛏️ Reservar</button>
    </article>

    <!-- SALTO DE LINEA -->
  
    <article class="Tarjeta_habitaciones" category="sencilla">
      <div class="Img_Habitaciones">
        <img src="../Static/Img/images.jpg" alt="Habitacion" />
      </div> 
  
      <div class="descripcion">
        <h3>Habitación Estándar</h3>
          <p><strong>Descripcion:</strong> Comodidad y elegancia a un precio accesible.</p>
          <p><strong>Capacidad:</strong> 2 personas 🧑‍🤝‍🧑</p>
          <p><strong>Comodidades:</strong> 📶 | ❄️ | 🔄 | 📺 | 🚿 | 🧼 | 🔐 </p>
      </div>     
          <button class="Btn_Reserva">🛏️ Reservar</button>
    </article>

    <!-- SALTO DE LINEA -->

    <article class="Tarjeta_habitaciones" category="sencilla">
      <div class="Img_Habitaciones">
        <img src="../Static/Img/images.jpg" alt="Habitacion" />
      </div> 
  
      <div class="descripcion">
        <h3>Habitación Estándar</h3>
          <p><strong>Descripcion:</strong> Comodidad y elegancia a un precio accesible.</p>
          <p><strong>Capacidad:</strong> 2 personas 🧑‍🤝‍🧑</p>
          <p><strong>Comodidades:</strong> 📶 | ❄️ | 🔄 | 📺 | 🚿 | 🧼 | 🔐 </p>
      </div>     
          <button class="Btn_Reserva">🛏️ Reservar</button>
    </article>
.
    <!-- SALTO DE LINEA -->

    <article class="Tarjeta_habitaciones" category="sencilla">
      <div class="Img_Habitaciones">
        <img src="../Static/Img/images.jpg" alt="Habitacion" />
      </div> 
  
      <div class="descripcion">
        <h3>Habitación Estándar</h3>
          <p><strong>Descripcion:</strong> Comodidad y elegancia a un precio accesible.</p>
          <p><strong>Capacidad:</strong> 2 personas 🧑‍🤝‍🧑</p>
          <p><strong>Comodidades:</strong> 📶 | ❄️ | 🔄 | 📺 | 🚿 | 🧼 | 🔐 </p>
      </div>     
          <button class="Btn_Reserva">🛏️ Reservar</button>
    </article>
        
    </div>
    <!-- Modal del formulario -->
    <div id="reservaModal" class="modal">
      <div class="modal-content">
        <span class="close">&times;</span>
        <h2>Reserva Ahora</h2>
        <form id="form-reserva">
          <label for="fecha-entrada">Fecha de Entrada:</label>
          <input type="date" id="fecha-entrada" name="fecha-entrada"    required>
  
          <label for="fecha-salida">Fecha de Salida:</label>
          <input type="date" id="fecha-salida" name="fecha-salida" required>
  
          <label for="nombre-cliente">Nombre del Cliente:</label>
          <input type="text" id="nombre-cliente" name="nombre-cliente"    required>

          <label for="cedula-cliente">Cédula:</label>
          <input type="text" id="cedula-cliente" name="cedula-cliente"    required>
  
          <label for="telefono-cliente">Teléfono:</label>
          <input type="tel" id="telefono-cliente" name="telefono-cliente"     required>
  
          <label for="correo-cliente">Correo Electrónico:</label>
          <input type="email" id="correo-cliente" name="correo-cliente"     required>
  
          <label for="departamento-cliente">Departamento:</label>
          <input type="text" id="departamento-cliente"    name="departamento-cliente" required>
  
          <label for="ciudad-cliente">Ciudad:</label>
          <input type="text" id="ciudad-cliente" name="ciudad-cliente"    required>
  
          <label for="comentario-cliente">Comentario:</label>
          <textarea id="comentario-cliente" name="comentario-cliente"></textarea>
  
          <button type="button" onclick="submitReservation()">Reservar</button>
          <button type="button" onclick="closeForm()">Cancelar</button>
        </form>
      </div>
    </div>

    
    </main>
    <script src="../Static/Js/habitaciones-reservas.js"></script>
  </body>
</html>
